/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Estilo do cabeçalho */
header {
  background-color: #56bb5b;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #56bb5b;
}

/* Estilo do menu de navegação */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #3cff0036;
}

/* Estilo do conteúdo principal */
section {
  margin: 2em auto;
  padding: 2em;
  max-width: 70%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

section input {
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

section button {
  padding: 10px;
  width: 15%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

section button:hover {
  background-color: #388e3c;
}

/* Estilo da tabela */
.tabela-container {
  max-height: 300px; /* Ajuste a altura máxima conforme necessário */
  overflow-y: auto; /* Ativa a rolagem vertical */
  border: 1px solid #ccc; /* Borda ao redor da tabela */
  margin-top: 20px; /* Espaço acima da tabela */
}

table {
  width: 100%;
  border-collapse: collapse; /* Melhora a aparência da tabela */
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #4caf50;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* Estilos do modal */
.modal {
  display: none; /* Mantenha o modal oculto por padrão */
  position: fixed;
  z-index: 1; /* Fique acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Ative a rolagem se necessário */
  background-color: rgb(0, 0, 0); /* Cor de fundo */
  background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com opacidade */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% do topo e centralizado */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura da modal */
}

.close-button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  float: right;
  font-size: 1.2em;
}
